<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <p class="header">Thank you for comming!</p>
    </div>
     <div id="main">
       <div id="name">
         <%= @bag['message']['name'] %> 様
       </div>
       <div id="message">
         <%= hbr(@bag['message']['message']) %>
       </div>
    </div>
    <div id="footer">
      <p class="footer">平成24年9月27日　野神 康正・真帆</p>
    </div>
  </body>
</html>
